<div class="p-4" [hidden]="!loaded">
  <div class="form-row m-2">
    <div class="col-auto">
      <input class="form-control" type="text" #box (keyup)="getIconsBySearch(box.value)" placeholder="Search by icon name">
    </div>
  </div>
  <div class="form-row m-2">
    <button type="button" class="btn btn-light" (click)="onChangeColor('default')">Default</button>
    <button type="button" class="btn btn-primary" (click)="onChangeColor('blue')">Blue</button>
    <button type="button" class="btn btn-success" (click)="onChangeColor('green')">Green</button>
    <button type="button" class="btn btn-danger" (click)="onChangeColor('red')">Red</button>
    <button type="button" class="btn btn-warning" (click)="onChangeColor('orange')">Orange</button>
  </div>
  <app-accordion
    *ngFor="let group of iconGroups | keyvalue"
    [iconSize] = group.key
    [icons]=group.value
    [color]=color
  ></app-accordion>
</div>
<div class="p-4" >
  <z-spinner [hidden]="loaded"></z-spinner>
</div>
