.notdisplay {
  display: none;
}

.c-accordion{
  font-size: larger;
  font-weight: bold;
  color: darkcyan;
  text-align: left;
  cursor: pointer;
  display: inline-block;
  float: none;
}
.c-accordion:after{
  content: '\02C4';
  font-size: 20px;
  float: right;
  margin-left: 5px;
}
.closed:after{
  content: '\02C5';
  font-size: 20px;
  float: right;
  margin-left: 5px;
}
.iconItem{
  width: 180px;
}
.blue{
  fill: blue;
}
.green{
  fill: green;
}
.red{
  fill: red;
}
.orange{
  fill: orange;
}

