<div *ngIf="icons && icons.length>0">
  <p class="c-accordion" [class.closed]=!display (click)="onAccClick()">{{"Size "+iconSize}}</p>
  <div [class.notdisplay] = !display>
    <div class="d-flex flex-wrap">
      <div class="p-2 iconItem" *ngFor="let icon of icons">
        <div [ngClass]="color" [innerHTML]="icon.svg | sanitizeHtml"></div>
        <p class="pl-1">{{icon.name}}</p>
      </div>
    </div>
  </div>
</div>
